HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

**/build/

**/.gradle/
**/.settings
**/bin/**
bin/**
.classpath
.project
/bin
/bin
target/**
/target/**
.class
**/*.class
**/classes/**
*.class
NDC-GraphQL-Client/.DS_Store
.DS_Store
/.DS_Store
